<div fxLayout="row"
     fxLayoutAlign="center center" style="height: 100%;" fxFill>
  <md-card fxFlex="20%">
    <md-card-title>
      Login
    </md-card-title>
    <md-card-content fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="15px">
        <button md-raised-button fxFlexFill><md-icon>check</md-icon>Facebook</button>
        <button md-raised-button fxFlexFill><md-icon>check</md-icon>Google</button>
        <button md-raised-button fxFlexFill><md-icon>email</md-icon>Email</button>
    </md-card-content>
    <md-card-actions>
      <br/>
    </md-card-actions>
    <md-card-footer fxLayout="column" fxLayoutAlign="center center" >
      <span fxFlex style="margin-bottom: 20px;">Don't have an account? Sign up</span>
    </md-card-footer>
  </md-card>
</div>
